<div class="container center-align">
  <form action="/weather" method="POST" class="mt-4">
    <label for="cityName">Enter a city name</label>
    <input type="text" name="cityName" placeholder="Enter your city name" class="form-control">
    <input type="submit" style="msrgin-top:1em" value='submit' class="btn btn-primary waves-effect vawes-light">
  </form>
  <p>{{weatherText}}</p>
</div>
